*{
  margin:0;
  padding:0;
  
}

header{
  background-color: rgb(209, 221, 240);
height: 50px;
}


 
  
  

h1{

  font-size: 30px;
  margin-top: 5px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position:relative;
  top:20px;
  color:rgb(44, 75, 85);
  font-family: 'PT Sans', sans-serif;
 text-align: center;
 


}

#logo{
  position: fixed;
  bottom: 0px;
  right: 10px;
  top:500px;
  width: 100px;
  
}



nav{
  background-color: rgb(190, 191, 231);
  height: 30px;
  height: 30px;

}



main{
  background-color: rgb(202, 212, 219);
  height: 600px;



}



#inicio{
  background-image: url("bariloche.png.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h2{
  font-size: 20px;
  height: 1000px;
  width: 1500px;
  position: absolute;
  top:70px
  font-family: 'IBM Plex Sans Thai', sans-serif;
  text-align: center;
}
.consultas{
  background-color: azure;
}


footer{
  background-color: black;
  height: 400px;
}


a{
  

    font-style: italic;
    font-weight: 500;
    font-size: 10uv;
    font-family: 'Lobster', cursive;
    text-align: center;
    list-style: none;
    text-decoration: none;
}



#descripcion{
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;

}

body{
    background-size: cover;
    background-repeat: no-repeat;
}

 
.menu{

  background-color: rgb(214, 240, 240);
  height: 100px;
  width: 100vw;
  display: flex
  justify-content: space-between;
  align-items: center;
  border-bottom: solid;
  animation-name: barrita;

animation-duration: 1s;
animation-iteration-count: 1;
  
}

.menu_items{
  display: flex;
  list-style: none;
  justify-content: space-around;
  list-style: none;
  

}

.grilla {
  display: grid;
  height: 30px;
  width: 30px;
  
  
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(3,1fr);
  
  grid-gap: 2px;
  
  grid-template-areas: "foto1 foto1 foto1"
                       "foto2 foto2 foto2"
                       "foto3 foto3 foto3";
                    
}


.foto1 {
  
 
  grid-column: 1 / span 1;
  grid-row:span 1 /span 1;
  justify-content: start;
  justify-content: start;
  
  
  
  
}
.foto1 hover{
  
}
.foto2 {
  
  grid-column: 2 / span 2;
  grid-row:span 1 /span 1;
  
justify-content: center;

  justify-content: center;
  width: 100%;
  height: auto;
  


}
.foto3 {
  
  grid-column: 3 / span 3;
  grid-row:span 1 /span 1;
  
  justify-content: end;
  

  grid-area: foto3;
  display: block;

 
}
  
  
.menu_items li{
  border-radius: 100px;
  margin: 40px;
  list-style: none;
  text-decoration: none;

}
tbody tr:nth-child(odd) {
    background-color: rgb(230, 230, 233);
  }
  fieldset{
      color: rgb(2, 14, 36);
  }
    tbody tr:nth-child(even) {
    background-color: #5f51da;
  }
  


 
}
  table {
    background-color: #1d1b92;
    height: 500px;
    width: 700px;
    margin-left: 340px;
    margin-top: 10px;
    transform: scale(4,4);
    background-image: linear-gradient(to left,pink,red);
  
  }
  table:hover{
    background-color: red;
  }
.consultas{

    color: lightpink;
}


footer{

    color: rgb(5, 71, 71);
            position:initial;
        bottom: 0;
        width: 100%;
        height: 40px;
       }
       @keyframes barrita{
       from{
        width: 50%;
        height: 50%;
        transform: rotate(180deg);
        
    }
 
    to{
        width: 100%;
        height: 100%;
        transform: rotate(360deg);
        ;
 
 
 
 
    }
}

